a {text-decoration:none;
color: black;}

body {
    
    
    background-color: #B26B0A;
    
}

.linkw

{
    
    color: white;
    
}

.fpara {
    color:aqua;
    text-align: center;
    width: 50%;
    margin: auto;
    
}


    
p {
    
color:black;
text-align: centre;
width: 50%;
font-size: 34px;
margin: auto;
font-family:"Avenir Next";
    
}

div
{

align-content: top left; 
background-color: transparent;
color: crimson; 
padding: 1em;
margin-top: 3em;
margin-bottom: -3em;
}



{
    
    size
}

nav

{
    

    padding: 3px;
    border: 1px;
    
        
}



h1 {
    color:white;
    text-align:center;
    font-family: 'Cookie', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 111px;
    padding-left: .05em;
    padding-top: ;
    margin-bottom: -0.4em;
    margin-top: 2em;
    
}


