a {color:darkorange;}


}


.first logo

{
    
    size
}

nav

{
    

    padding: 3px;
    border: 1px;
    
        
}

li

{
    
    color: darkorange;
    background-color: 
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 14px;
    border: 1px;
    margin:5px;
    padding:5px;
    list-style:none;
    text-decoration:none;
    
}

h1 {
    color:darkorange;
    text-align:left;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
   font-weight: 600;
    font-size: 80px;
    
}

.firstword {
    color: dark darkorange;
    font-style: Antic;
    
    
}

.firstword {
    color: darkorange;
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    font-weight:100; 
    font-size: 80px;
}



.first infoslot {
    background-image: url(http://static.wixstatic.com/media/ff562f_86833ed45045f3e035f73ad72cb89dcf.jpg);
    width: 1em;
    height:2em;
    font-size: 80px;
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    font-weight: 200;
    
    
}
